.navbar {
    background-color: #FFFFFF;
    color: #4452F2;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
}

li {
    display: flex;
    align-items: center;
    padding: 24px 16px;
}

.profile .icon {
    padding-left: 16px;
}

li:hover {
    cursor: pointer;
    background-color: #E8E8E8;
    transition: 0.3s;
}