<div class="navbar">
    <ul>
        <li class="language">
            <p>English</p>
            <div class="icon">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </li>
        <li class="notification">
            <div class="icon">
                <mat-icon>notifications</mat-icon>
            </div>
        </li>
        <li class="profile">
            <p>Hi, User!</p>
            <!-- temporary -->
            <div class="icon">
                <mat-icon>person_pin</mat-icon>
            </div>
        </li>
    </ul>
</div>