<div class="job-description">
    <div class="icon">
        <a href="#"><mat-icon>arrow_back</mat-icon></a>
    </div>
    <div class="title">
        <h2>Job Description</h2>
    </div>

    <div class="main-page">
        <div class="description">
            <ul>
                <li>Job Title:</li>
                <li>Job Description:</li>
                <li>Job Type:</li>
                <li>Location:</li>
                <li>Work Dates:</li>
                <li>Work Hours:</li>
                <li>Salary:</li>
                <li>Photos:</li>
                <li>Number of Workers:</li>
            </ul>
            <div class="button">
                <a href="#">Chat</a>
            </div>
        </div>

        <div class="review-div">
            <div class="review">
                <div class="title">
                    <h3>Review</h3>
                </div>
            </div>
            
            <div class="button">
                <a href="#" class="cancel">Cancel Application</a>
            </div>
        </div>
    </div>
</div>