<div class="profile-edit">
    <h2>Edit Profile</h2>
    <div class="user">
        <img src="" alt="">
        <h3 class="username">Username</h3>
        <h3 class="email">E-mail</h3>
    </div>

    <div class="form">
        <form #userForm="ngForm" (submit)="submitUser(userForm)">
            <div class="input">
                <label for="about">About:</label>
                <input type="text" id="about" name="about" placeholder="Describe your expertise and experiences" ngModel required>
            </div>

            <div class="input">
                <label for="gender">Gender:</label>
                <input type="text" id="gender" name="gender" placeholder="Enter your gender" ngModel required>
            </div>

            <div class="input">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" placeholder="Enter your age" ngModel required>
            </div>

            <div class="input">
                <label for="education">Last education:</label>
                <input type="text" id="education" name="education" placeholder="Enter your last education" ngModel required>
            </div>

            <div class="input">
                <label for="phone">Phone:</label>
                <input type="number" id="phone" name="phone" placeholder="Enter your phone number" ngModel required>
            </div>

            <input type="submit" value="Save">
        </form>
    </div>
</div>