<div class="applicant-profile">
    <div class="icon">
        <a href="#"><mat-icon>arrow_back</mat-icon></a>
    </div>
    <div class="title">
        <h2>Applicant Profile</h2>
    </div>

    <div class="main-page">
        <div class="profile">
            <ul>
                <li>Name:</li>
                <li>Birthday:</li>
                <li>Gender:</li>
                <li>Last education:</li>
                <li>Email:</li>
            </ul>
            <div class="button">
                <a href="#" class="chat">Chat</a>
            </div>
        </div>

        <div class="review-div">
            <div class="review">
                <div class="title">
                    <h3>Review</h3>
                </div>
            </div>
            
            <div class="button">
                <a href="#" class="accept">Accept</a>
                <a href="#" class="reject">Reject</a>
            </div>
        </div>
    </div>
</div>