<div class="create-job">
    <div class="icon">
        <a routerLink="../"><mat-icon>arrow_back</mat-icon></a>
    </div>
    
    <div class="form">
        <h2>Job Description</h2>
        <form action="">
            <div class="input">
                <label for="job-title">Job Title:</label>
                <input type="text" id="job-title" name="job-title" placeholder="Enter the job name">
            </div>

            <div class="input">
                <label for="job-description">Job Description:</label>
                <input type="text" id="job-description" name="job-description" placeholder="Describe the job">
            </div>

            <div class="input">
                <label for="job-type">Job Type:</label>
                <input type="text" id="job-type" name="job-type" placeholder="Choose the type of job">
            </div>

            <div class="input">
                <label for="Location">Location:</label>
                <input type="text" id="Location" name="Location" placeholder="Specify the location">
            </div>

            <div class="input">
                <label for="work-dates">Work Dates:</label>
                <input type="text" id="work-dates" name="work-dates" placeholder="Choose the date">
            </div>

            <div class="input">
                <label for="work-hours">Work Hours:</label>
                <input type="text" id="work-hours" name="work-hours" placeholder="Specify the hours">
            </div>

            <div class="input">
                <label for="salary">Salary:</label>
                <input type="text" id="salary" name="salary" placeholder="Enter the desired salary">
            </div>

            <div class="input">
                <label for="photos">Photos:</label>
                <input type="text" id="photos" name="photos" placeholder="Choose at least 3 photos from device">
            </div>

            <div class="input">
                <label for="worker-ammount">Number of Workers:</label>
                <input type="text" id="worker-ammount" name="worker-ammount" placeholder="Enter the workers ammount">
            </div>

            <input type="submit" value="Post">
        </form>
    </div>
</div>