<div class="sidebar">
    <ul>
        <li class="profile">
            <div class="icon">
                <mat-icon>person</mat-icon>
            </div>
            <a href="#">Profile</a>
        </li>
        <li class="explore">
            <div class="icon">
                <mat-icon>dashboard</mat-icon>
            </div>
            <a href="#">Explore</a>
        </li>
        <li class="job">
            <div class="icon">
                <mat-icon>assignment</mat-icon>
            </div>
            <a href="#">Job</a>
        </li>
        <li class="chat">
            <div class="icon">
                <mat-icon>chat</mat-icon>
            </div>
            <a href="#">Chat</a>
        </li>
    </ul>
</div>