.sidebar {
    background-color: #FFFFFF;
    font-weight: 500;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


ul {
    display: flex;
    flex-direction: column;
}

li {
    margin: 8px;
    border-radius: 8px;
}

.logo {
    margin-top: 32px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #4C4C4C;
    padding: 16px 16px 16px 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

a:hover {
    background-color: #4452F2;
    color: #FFFFFF;
    transition: 0.3s;
}

.active {
    background-color: #5865F2;
    color: #FFFFFF;
    transition: 0.3s;
}