<div class="sidebar">
    <ul>
        <li class="explore">
            <a routerLink="/main/explore" routerLinkActive="active">
                <mat-icon class="icon">dashboard</mat-icon>
                <p>Explore</p>
            </a>
        </li>
        <li class="job">
            <a routerLink="/main/job" routerLinkActive="active">
                <mat-icon class="icon">assignment</mat-icon>
                <p>My Job</p>
            </a>
        </li>
        <li class="chat">
            <a routerLink="/main/chat" routerLinkActive="active">
                <mat-icon class="icon">chat</mat-icon>
                <p>Chat</p>
            </a>
        </li>
        <li class="profile">
            <a routerLink="/main/profile" routerLinkActive="active">
                <mat-icon class="icon">person</mat-icon>
                <p>Profile</p>
            </a>
        </li>
    </ul>
</div>