<div class="job-description">
    <div class="icon">
        <mat-icon>arrow_back</mat-icon>
    </div>
    <div class="title">
        <h2>Job Description</h2>
    </div>

    <div class="main-page">
        <div class="description">
            <ul>
                <li>Job Title:</li>
                <li>Job Description:</li>
                <li>Job Type:</li>
                <li>Location:</li>
                <li>Work Dates:</li>
                <li>Work Hours:</li>
                <li>Salary:</li>
                <li>Photos:</li>
                <li>Number of Workers:</li>
            </ul>
            <div class="button">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>

        <div class="applicants-box">
            <div class="title">
                <h3>Applicants</h3>
                <h3>(0)</h3>
            </div>
            <div class="applicants">
                <div class="applicant">
                    <a href="#">Name</a>
                </div>
                <div class="applicant">
                    <a href="#">Name</a>
                </div>
                <div class="applicant">
                    <a href="#">Name</a>
                </div>
            </div>
        </div>
    </div>
</div>