<div class="profile-page">
    <div class="profile">
        <div class="user">
            <img src="" alt="">
            <h3 class="username">Name</h3>
            <h3 class="email">E-mail</h3>
        </div>
        <div class="details">
            <ul>
                <li class="bold">About:</li>
                <li>Saya adalah pekerja keras yang memiliki keahliang tinggi dalam memasak. Saya memiliki pengalaman selama 20 tahun masak masak masak masak masak masak masak masak masak masak masak masak masak masak masak masak masak masak masak masak</li>
                <li class="bold">Gender:</li>
                <li>Male </li>
                <li class="bold">Age:</li>
                <li>34</li>
                <li class="bold">Last Education:</li>
                <li>SMA</li>
                <li class="bold">Phone:</li>
                <li>0877 7777 7777</li>
            </ul>
            <div class="button">
                <a routerLink="edit">Edit</a>
            </div>
        </div>
    </div>

    <!-- <div class="review">
        <h2>Review</h2>
    </div> -->
</div>