<div class="job-list">
    <div class="job-item" *ngFor="let job of availableJobs |async">
        <div class="job-title">
            <div class="title">
                <h2>{{job.title}}</h2>
            </div>
            <div class="category">
                <h3>{{job.type}}</h3>
            </div>
        </div>
        <div class="job-detail">
            <ul>
                <li class="description">
                    <p>{{job.description}}</p>
                </li>
                <li class="salary">
                    <p>Salary: IDR {{job.salary}}</p>
                </li>
                <li class="working-days">
                    <div class="icon">
                        <mat-icon>calendar_today</mat-icon>
                    </div>
                    <div class="text">
                        <p>{{job.startDay}} to {{job.endDay}}</p>
                        <p>{{job.startTime}} to {{job.endTime}}</p>
                    </div>
                </li>
                <li class="location">
                    <div class="icon">
                        <mat-icon>location_on</mat-icon>
                    </div>
                    <p>{{job.location}}</p>
                </li>
            </ul>
            <div class="button">
                <a href="javascript:void(0)">Apply</a>
            </div>
        </div>
    </div>
</div>