<div class="find-job">
    <div class="text">
        <h2>Find a job!</h2>
    </div>
    <div class="filter">
        <ul>
            <li>
                <a href="#">This month</a>
            </li>
            <li>
                <a href="#">This week</a>
            </li>
            <li>
                <a href="#">Today</a>
            </li>
            <li>
                <a href="#">Location</a>
            </li>
        </ul>
    </div>
    <div class="job-list">
        <app-job-list class="job-item"></app-job-list>
        <app-job-list class="job-item"></app-job-list>
        <app-job-list class="job-item"></app-job-list>
    </div>
</div>