.find-job {
    background-color: #FFFFFF;
    color: #1E1E1E;
    box-shadow: 1px 1px 4px #747474;
    border-radius: 8px;
    margin: 16px 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.text h2 {
    color: #4452F2;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 32px 0;
}

.filter ul {
    display: flex;
    margin: 0 0 32px 0;
}

.filter a:first-child {
    margin: 0 8px 0 0;
}

.filter a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    font-weight: 500;
    margin: 0 8px;
    border-radius: 16px;
    box-shadow: 1px 1px 4px #747474;
}

.filter .icon {
    display: flex;
    align-items: center;
}

.filter a:hover {
    cursor: pointer;
    background-color: #4452F2;
    color: #FFFFFF;
}