<div class="find-job">
    <div class="text">
        <h2>Find a job!</h2>
    </div>
    <div class="filter">
        <ul>
            <li>
                <a href="javascript:void(0)">
                    <p>Salary</p>
                    <div class="icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <p>Category</p>
                    <div class="icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <p>Location</p>
                    <div class="icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <app-job-list></app-job-list>
    </div>
</div>